.catering {

  @include laptop {
    margin-top: 80px;
  }

  @include tablet {

    text-align: center;
    margin-top: 60px;

  }

  margin-top: 182px;

  &__bg {

    @include laptop {

      padding: 40px 38px 50px;
      border-radius: 40px 0px;

    }

    @include tablet {

      padding: 40px 20px 60px;

    }

    background: linear-gradient(90deg, #F0CBD8 16.67%, #FBE2E8 61.46%);
    border-radius: 80px 0px;
    padding: 60px 98px 100px;
    position: relative;

  }

  &__text {

    @include laptop {

      font-size: 28px;
      line-height: 28px;

    }

    font-family: "Rosa Mareba";
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 32px;
    color: #45180E;
    position: relative;
    z-index: 1;

  }

  &__title {

    @include laptop {

      font-size: 30px;
      line-height: 40px;

    }

    //font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 52px;
    color: #45180E;
    position: relative;
    z-index: 1;

  }

  &__hr {

    @include laptop {
      margin: 15px 0;
    }

    @include tablet {

      margin: 5px 0;

    }

    margin: 25px 0;
    position: relative;
    z-index: 1;

  }

  &__description {

    @include laptop {

      font-size: 16px;
      line-height: 24px;

    }

    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 32px;
    color: #663E35;
    position: relative;
    z-index: 1;

  }

  &__link {

    @include laptop {
      margin-top: 30px;
    }

    @include tablet {

    }

    margin-top: 30px;
    position: relative;
    z-index: 1;

    a {

      @include laptop {

        font-size: 16px;
        line-height: 24px;
        padding: 13px 34px;

      }

      @include tablet {
        width: 100%;
      }

      display: inline-block;
      text-decoration: none;

    }

  }

  &__slider {

    @include laptop {
      margin-top: 30px;
    }

    @include tablet {
      margin-top: 20px;
    }

    margin-top: 60px;
    position: relative;
    z-index: 1;

    &-title {

      @include laptop {

        font-size: 26px;
        line-height: 40px;
        width: 65%;
        margin-bottom: 10px;

      }

      @include tablet {

        width: 100%;
        margin-bottom: 15px;

      }

      //font-family: Playfair Display;
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      line-height: 52px;
      color: #45180E;
      margin-bottom: 20px;

    }

    .swiper-slide {

      height: 110px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #FFFFFF;
      border-radius: 6px;
      border: 1px solid #FAEBE9;
      box-sizing: border-box;

    }
    
    &-slider{
      position: relative;
    }

  }

  &__girl {

    img {

      @include laptop {

        width: 374px;

      }

      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 0;

    }



  }

  &-button {

    &-prev {

      position: absolute;
      top: 28px;
      left: -27px;
      background: #FFFFFF;
      opacity: 0.5;
      box-shadow: 0px 8px 20px rgba(166, 128, 115, 0.3);
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 19px;
      z-index: 10;
      border-radius: 50%;
      transition: .3s opacity ease;

      &:hover {
        opacity: 0.8;
      }

    }

    &-next {

      position: absolute;
      top: 28px;
      right: -27px;
      background: #FFFFFF;
      opacity: 0.5;
      box-shadow: 0px 8px 20px rgba(166, 128, 115, 0.3);
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 19px;
      z-index: 10;
      border-radius: 50%;
      transform: rotate(180deg);
      transition: .3s opacity ease;

      &:hover {
        opacity: 0.8;
      }

    }

  }

}