html, body {
  font-family: 'Muller', sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

@keyframes toggled {
  from {
    margin-right: -100%;
  }

  to {
    margin-right: 0;
  }
}

@keyframes toggledunset {
  from {
    margin-right: 0;
  }

  to {
    margin-right: -100%;
  }
}

header {

  position: absolute;
  width: 100%;
  z-index: 99;

  a {

    color: #45180E;

    &:hover {

      color: #45180E;

    }

  }

}

header.product {

  background: #FFFFFF;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.05);
  position: relative;
  margin-bottom: 0;

}

header.catalog {

  a {

    color: #FFFFFF;

    &:hover {
      color: #FFFFFF;
    }

  }

  .nav__item.has-child {

    > a {

      display: flex;
      justify-content: flex-start;
      align-items: center;

      &:hover {
        color: #FFFFFF;
      }

      &::after {

        content: url("../img/header-iamges/menu-arrow-white.png");
        display: block;
        margin-left: 9px;

      }

    }

  }

}

.header {

  @include laptop {
    padding: 14px 0 0;
  }

  padding: 30px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  &__right {

    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  &__menu {

    &-nav {

      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      justify-content: space-between;

      .nav__item {

        padding-right: 30px;

        a {

          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 25px;
          text-transform: uppercase;
          text-decoration: none;

        }

        &-children {

          display: none;
          position: absolute;
          background: linear-gradient(90deg, #F0CBD8 16.67%, #FBE2E8 61.46%);
          box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.05);
          border-top: 1px solid #45180E;
          top: 100%;
          left: -30px;
          padding: 20px 30px 40px;
          width: 213px;
          

          ul {

            padding: 0;
            list-style: none;

            li {

              &:not(:last-child) {
                margin-bottom: 10px;
              }

              a {

                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 25px;
                color: #816965;
                text-transform: none;
                transition: .3s all ease;

                &:hover {

                  color: #45180E;
                  border-bottom: 1px solid #45180E;

                }

              }

              a.active {

                color: #45180E;
                border-bottom: 1px solid #45180E;

              }

            }

          }

        }

      }

    }

  }

  &__cart {

    cursor: pointer;
    position: relative;

    &-count {

      position: absolute;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: #E26776;
      font-style: normal;
      font-weight: 500;
      font-size: 11px;
      line-height: 11px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      color: #FFFFFF;
      top: 0;
      right: -4px;

    }

  }

  &__mobile {

    &-menu {

      @include tablet {

        margin-left: 10px;

      }

      margin-left: 16px;

      &.opened {

        .mobile-menu {
          display: block;
        }

      }

      &.toggle {

        .mobile-menu {

          animation-duration: 0.4s;
          animation-fill-mode: forwards;
          animation-name: toggled;

        }

      }

    }

  }

  .mobile-menu {

    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    animation-name: toggledunset;

    background: #FAEBE9;
    display: none;
    position: absolute;
    top: 0;
    //margin-right: -100%;
    right: 0;
    width: 213px;

    &__body {

      padding: 18px 30px 100px;
      position: relative;

    }

    &__item {

      margin-bottom: 10px;

      a {

        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 25px;
        color: #816965;
        text-decoration: none;

      }

      a.active {

        color: #45180E;
        border-bottom: 1px solid #45180E;

      }

      &.has-child {

        > a {

          position: relative;
          display: flex;
          align-items: center;
          justify-content: space-between;

          &:after {

            content: url("../img/header-iamges/menu-arrow.svg");
            display: block;
            width: 20px;
            height: 20px;

          }

          &.active {

            &:after {

              content: url("../img/header-iamges/menu-arrow-dark.svg");

            }

          }

        }

      }

    }

    &__top {

      padding: 7px 26px 9px;
      border-bottom: 1px solid #45180E20;
      display: flex;
      align-items: center;
      justify-content: flex-end;

    }

    &__back {

      display: none;

      &.active {
        display: block;
      }

    }

    &__children {

      display: none;
      position: absolute;
      width: 100%;
      min-height: 100%;
      top: 0;
      left: 0;
      padding: 18px 30px 100px;
      background: #FAEBE9;
      z-index: 9;

      a {

        display: block;
        width: 100%;


        &:not(:last-child) {

          margin-bottom: 10px;

        }

        &.active {

          color: #45180E;
          border-bottom: 1px solid #45180E;

        }

      }

      &.opened {
        display: block;
      }

    }

  }

}

.nav__item.has-child {

  position: relative;

    > a {

      display: flex;
      justify-content: flex-start;
      align-items: center;

      &::after {

        content: url("../img/header-iamges/menu-arrow.png");
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 9px;

      }

    }

  &:hover {

    .nav__item-children {
      display: block;
    }

    > a::after {

      transform: rotate(180deg);

    }

  }

}