body {
  overflow-x: hidden;
}

header {

  position: absolute;
  width: 100%;
  z-index: 99;

  a {

    color: #45180E;

  }

}

header.product {

  background: #FFFFFF;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.05);
  position: relative;
  margin-bottom: 0;

}

header.catalog {

  a {

    color: #FFFFFF;

  }

  .nav__item.has-child {

    a {

      display: flex;
      justify-content: flex-start;
      align-items: center;

      &::after {

        content: url("/assets/img/header-iamges/menu-arrow-white.png");
        display: block;
        margin-left: 9px;

      }

    }

  }

  .header__logo {
    display: none;
  }

  .header__logo-white {
    display: block;
  }

  .header__cart {
    display: none;
  }

  .header__cart-white {
    display: block;
  }

  .header__mobile-menu {
    display: none;
  }

  .header__mobile-menu.white {
    display: block;
  }

}

.header {

  @include laptop {
    padding: 14px 0;
  }

  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {

    &-white {
      display: none;
    }

  }

  &__right {

    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  &__menu {

    &-nav {

      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      justify-content: space-between;

      .nav__item {

        padding-right: 30px;

        a {

          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 24px;
          text-transform: uppercase;
          text-decoration: none;

        }

        &-children {

          display: none;

          ul {

            padding: 0;
            list-style: none;

          }

        }

      }

    }

  }

  &__cart {

    cursor: pointer;

    &-white {

      display: none;

    }

  }

  &__mobile {

    &-menu {

      @include tablet {

        margin-left: 10px;

      }

      margin-left: 16px;

    }

    &-menu.white {
      display: none;
    }

  }

}

.nav__item.has-child {

    a {

      display: flex;
      justify-content: flex-start;
      align-items: center;

      &::after {

        content: url("/assets/img/header-iamges/menu-arrow.png");
        display: block;
        margin-left: 9px;

      }

    }

}