.cakeUp {

  @include laptop {

    background-image: url("/assets/img/banner-bg-tablet.png");
    padding: 100px 0 85px;

  }

  @include phone {

    background-image: url("/assets/img/banner-bg-phone.png");
    padding: 313px 0 40px;

  }

  background-image: url("/assets/img/banner-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 220px 0 230px;

  &__all {

    @include tablet {
      text-align: center;
    }

    &-title {

      @include laptop {

        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 0;

      }

      font-style: normal;
      font-weight: normal;
      font-size: 32px;
      line-height: 32px;
      color: #663E35;
      margin-bottom: 10px;

    }

    &-main {

      @include laptop {

        font-size: 40px;
        line-height: 52px;

      }

      font-style: normal;
      font-weight: bold;
      font-size: 64px;
      line-height: 85px;
      text-transform: uppercase;
      color: #45180E;
      margin-bottom: 10px;

    }

    &-description {

      @include laptop {

        font-size: 16px;
        line-height: 24px;
        margin-bottom: 30px;

      }

      @include tablet {

        text-align: center;
        margin-bottom: 20px;

      }

      font-style: normal;
      font-weight: normal;
      font-size: 23px;
      line-height: 38px;
      color: #663E35;
      margin-bottom: 40px;

    }

    &-buttons {

      @include desktop {

        font-size: 16px;
        line-height: 24px;

      }

      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      align-items: center;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 20px;
      text-align: center;

      &-need {

        @include desktop {

          padding: 12px 50px;

        }

        @include tablet {

          width: 100%;
          margin-right: 0;
          margin-bottom: 5px;

        }

        color: #FFFFFF;
        background: #E26776;
        box-shadow: 0px 5px 20px rgba(232, 131, 131, 0.3);
        border-radius: 30px;
        padding: 17px 71.5px;
        border: 1px solid #E26776;
        margin-right: 16px;
        cursor: pointer;

      }

      &-all {

        @include desktop {

          padding: 12px 23.5px;

        }

        @include tablet {

          width: 100%;

        }

        color: #663E35;
        border: 1px solid #E26776;
        box-sizing: border-box;
        border-radius: 30px;
        padding: 17px 44px;
        cursor: pointer;

      }

    }

  }

}