.order-success {

  &__title {

    @include laptop {

      font-size: 30px;
      line-height: 40px;
      margin-bottom: 80px;

    }

    @include tablet {

      text-align: center;
      margin-bottom: 60px;

    }

    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 52px;
    color: #45180E;
    margin-bottom: 100px;

  }

  &__body {

    @include laptop {

      background: linear-gradient(90deg, #F0CBD8 16.67%, #FBE2E8 61.46%);
      border-radius: 0px 40px 0px 0px;

    }

    background: linear-gradient(90deg, #F0CBD8 16.67%, #FBE2E8 61.46%);
    border-radius: 0px 80px 0px 0px;

    &-title {

      @include laptop {

        font-size: 26px;
        line-height: 40px;
        padding-top: 30px;

      }

      @include tablet {

        text-align: center;
        padding-top: 40px;

      }

      font-family: Playfair Display;
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      line-height: 52px;
      color: #45180E;
      margin-bottom: 10px;
      padding-top: 60px;

    }

    &-text {

      @include laptop {

        font-size: 20px;
        line-height: 28px;
        padding-bottom: 80px;

      }

      @include tablet {

        text-align: center;
        padding-bottom: 30px;

      }

      font-style: normal;
      font-weight: normal;
      font-size: 22px;
      line-height: 32px;
      color: #663E35;
      padding-bottom: 100px;

    }

    &-img {

      position: relative;
      width: 100%;
      height: 100%;

      @include tablet {
        text-align: center;
      }

      img {

        @include laptop {
          width: 328px;
        }
        
        @include tablet {

          position: relative;
          width: 266px;
          
        }

        position: absolute;
        left: 0;
        bottom: 0;
        filter: drop-shadow(20px 4px 44px rgba(95, 67, 64, 0.2));

      }

    }

  }

}