@import "../fonts/Muller/stylesheet.css";
@import "../fonts/RosaMareba/stylesheet.css";

.button-red {

  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 18px 44px;
  background: #E26776;
  box-shadow: 0px 5px 20px rgba(232, 131, 131, 0.3);
  border-radius: 30px;
  transition: .3s all ease;

  &:hover {

    color: #E26776;
    background: #FFFFFF;

  }

}

.button-white {

  color: #663E35;
  border: 1px solid #E26776;
  box-sizing: border-box;
  border-radius: 30px;
  padding: 18px 44px;
  text-decoration: none;
  transition: .3s all ease;

}

@import "vars";
@import "header";
@import "indexBaner";
@import "catalog-slider";
@import "index-info";
@import "index-new";
@import "catering";
@import "index-organization";
@import "index-contacts";
@import "index-review";
@import "catalog";
@import "product";
@import "static";
@import "main-catalog";
@import "cart";
@import "feedback-form";
@import "form-success";
@import "order-success";
@import "footer";