@font-face {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/MullerRegular.ttf") format("ttf"), url("../fonts/MullerRegular.ttf") format("ttf");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@import "vars";
@import "header";
@import "indexBaner";
@import "catalog-slider";
@import "index-info";
@import "index-new";
@import "catering";
@import "index-organization";
@import "index-contacts";
@import "index-review";
@import "catalog";
@import "product";
@import "static";
@import "main-catalog";
@import "footer";